#add_to_cart{
    display:none;
}

button#customize_product {
    border-radius: 10px!important;
    border: 2px solid #FFF!important;
    padding: 13px!important;
    display: inline-flex!important;
    align-items: center!important;
    justify-content: center!important;
    min-width: 131px!important;
    color: #FFF!important;
    text-align: center!important;
    font-size: 13px!important;
    font-style: normal!important;
    font-weight: 600!important;
    line-height: 18px!important;
    text-transform: uppercase!important;
    height: 44px;
    margin-top: auto!important;
    margin-bottom: auto!important;
    margin-right: 10px!important;
    margin-left: 0px!important;
    background: #ef010a;
}


[data-attribute_name="Vpersonalize Thumbnail"] {
    display: none;
}

[data-attribute_name="Vpersonalize"] {
    display: none;
}

[data-attribute_name="Vpersonalize Edit"] {
    display: none;
}

div#product_attributes_simple {
    display: none !important;
}

.container-heading-bulk {
    margin-top: 15px;
    margin-bottom: 30px;
    min-width: 100%;
}
.div-cont {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 12px;
    padding: 0px !important;
    padding-right: 5px !important;
    margin-bottom: 20px !important;
}
.heading-c-bulk {
    white-space: nowrap;
    font-weight: 600;
    display: block;
    font-size: 15px;
    color: #000;
    min-width: 25px;
}
.input-container-bulk input {
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    width: 42px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    MARGIN-BOTTOM: 0PX;
    width: 42px;
}
.input-container-bulk input:focus{
    outline:none;
}
.bulk-input::-webkit-outer-spin-button,
.bulk-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}